{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}money{% endblock %}
{% block titlepage %}
    &nbsp;&nbsp;Produits
{% endblock %}

{% block content %}
    <h1>Liste des produits</h1>
{% endblock %}