{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}dashboard{% endblock %}
{% block titlepage %}
    Dashboard
{% endblock %}

{% block content %}
    <h1>Liste de tout surtout sur tout</h1>
{% endblock %}