{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}book{% endblock %}
{% block titlepage %}
    Content managing system
{% endblock %}

{% block content %}
    <h1>Liste des cms</h1>
{% endblock %}

