{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}
    briefcase
{% endblock %}

{% block titlepage %}
    Content Managing System
{% endblock %}

{% block content %}
    <p>
    <h3>{{ cms.title }} - <i>{{ cms.dateCreated|date('d/m/Y') }}</i>
        {% if cms.active == 0 %}
            <i class="fa fa-times"></i>
        {% else %}
            <i class="fa fa-check"></i>
        {% endif %}
    </h3>
    </p>

    <hr/>
    <h5>Nom de la boutique : {{ cms.jeweler.title }}</h5>
    <p class="jumbotron">Description <i>{{ cms.description }}</i></p>
{% endblock %}