{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}th-large{% endblock %}
{% block titlepage %}
    Categories
{% endblock %}

{% block content %}
    <h1>Liste des catégories</h1>
{% endblock %}

