{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}th-large{% endblock %}
{% block titlepage %}
    Categorie
{% endblock %}

{% block content %}
    <h1>voir la catégorie {{ name }} qui a l'id : {{ id }}</h1>
{% endblock %}
